.contenedorSubirFoto {
    width: 300px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

  
    
    
  }
  
  .fotoAdmin {
    width: 200px; /* Tamaño fijo de las imágenes */
    height: 200px; /* Mantener la imagen cuadrada */
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Efecto de transición */
  }
  
  .subirFoto {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .SubirTexto {
    width: 80%;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .botonGuardarEspecie {
    padding: 10px 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .botonGuardarEspecie:hover {
    background-color: #0056b3;
  }
  
  .contenedorFotos {
    text-align: center;
    width: calc(25% - 20px); /* Calcula el ancho para 4 fotos en una fila, teniendo en cuenta el espaciado */
    box-sizing: border-box;
  }
  
  .contenedorFotos h2 {
    font-size: 18px;
    color: #34495e;
    font-family: 'Arial', sans-serif;
    margin-bottom: 10px;
  }
  
  /* Estilo para el contenedor de los peces guardados */
  .pecesguardados {
    width: 220px; /* Ancho del cuadro que contendrá las imágenes y los botones */
    padding: 15px;
    margin: 10px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    
  }
  
  /* Imagen dentro del cuadro */
  .fotoAdmin2 {
    width: 100%;
    height: 200px; /* Fija la altura de la imagen a 200px */
    border-radius: 8px;
    margin-bottom: 15px; /* Espacio entre la imagen y los botones */
  }
  
  /* Estilo para los botones */
  .pecesguardados button {
    width: 80%; /* Ajusta el tamaño de los botones al 80% del ancho del contenedor */
    padding: 8px;
    margin-top: 5px; /* Espacio entre los botones */
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Cambio de color cuando el botón es hover */
  .pecesguardados button:hover {
    background-color: #0056b3;
  }
  
  /* Estilo para el input */
  .pecesguardados input {
    width: 80%;
    padding: 8px;
    margin-top: 10px; /* Espacio entre el input y el último botón */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  