/* Contenedor principal del nav */
.conte {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50; /* Fondo oscuro */
  padding: 15px 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil para darle profundidad */
}

/* Estilo para la imagen del logo */
.fotoLogo {
  height: 100px;
  width: auto;
 
}

/* Titulo del sitio web */
.titu {
  font-size: 24px;
  font-weight: bold;
  color: #ecf0f1; /* Blanco con un tono suave */
  text-align: center;
}

/* Estilo para cada enlace */
.conte h3 {
  font-size: 18px;
  color: #ecf0f1;
  margin: 0 15px;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.conte h3 a {
  text-decoration: none;
  color: inherit; /* Hereda el color de h3 */
}

.conte h3:hover {
  color: #00b894; /* Verde vibrante al hacer hover */
  transform: scale(1.1); /* Efecto de aumentar el tamaño */
}

/* Estilo para la barra de navegación */
.conte div {
  display: flex;
  align-items: center;
}

/* Hacer que los enlaces se alineen de forma horizontal en pantallas grandes */
@media (max-width: 1024px) {
  .conte {
    justify-content: space-between;
  }
  .conte div {
    flex-direction: row;
  }
}

/* Responsividad: En pantallas pequeñas los elementos se apilan verticalmente */
@media (max-width: 768px) {
  .conte {
    flex-direction: column;
    text-align: center;
  }

  .conte h3 {
    margin: 10px 0;
  }

  .fotoLogo {
    height: 40px;
  }

  .titu {
    font-size: 20px;
    margin-top: 10px;
  }
}
